@import "./variables";
.aboutMeFullContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    139.41deg,
    rgba($blue, 0.707292) -4.35%,
    rgba(255, 192, 98, 0) 53.32%
  );
  .taperedLine {
    border: 0;
    height: 2px;
    background: $dark;
    background: -webkit-gradient(
      linear,
      0 0,
      100% 0,
      from(transparent),
      to(transparent),
      color-stop(50%, $dark)
    );
  }
  @include respond-to("mobile-large") {
    flex-direction: row;
  }
  .aboutMeTextContainer {
    flex-grow: 1;
    @include respond-to("mobile-large") {
      width: 50vh;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .aboutMeTextBox {
      padding: 36px;
      & > p {
        text-indent: 12px;
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
      @include respond-to("mobile-large") {
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          &:hover {
            background-color: rgba(black, 0.2);
          }
          background-color: rgba(black, 0.15);
          border-radius: 9rem;
        }
        padding: 0 30px 0 0;
        overflow-y: auto;
        width: clamp(25rem, 17rem + 13vw, 40rem);
        height: clamp(25rem, 17rem + 13vw, 40rem);
      }
    }
    #aboutMeTitle {
      &::after {
        content: "";
        margin: 20px 0;
        height: 10px;
        width: 10rem;
        display: block;
        position: relative;
        border-radius: 90rem;
        background-image: linear-gradient(
          90deg,
          rgba(103, 251, 208, 0.1) 20.72%,
          rgba(112, 181, 227, 0.5) 63.38%,
          #9390b7 100%
        );
      }
    }
  }
  .aboutPicContainer {
    & > svg {
      fill: $light;
      width: 90%;
      height: 90%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    position: relative;
    width: 100%;
    height: 30rem;
    @include respond-to("mobile-large") {
      width: 50vw;
      height: 100vh;
    }
    & > img {
      object-fit: contain;
      object-position: bottom;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 80%;
      width: 100%;
    }
  }
}
