@import "./variables";
.contactFullWrapper {
  & > .contactFormContainer {
    height: 100vh;
    width: 100vw;
    @include respond-to("mobile-large") {
      width: 50vw;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    & > .contactFormWrapper {
      border-radius: 3rem;
      background: linear-gradient($light, $light) padding-box,
        linear-gradient(
            45deg,
            #9390b7 2.73%,
            rgba(112, 181, 227, 0.7) 70.19%,
            rgba(103, 251, 208, 0.7) 100.91%
          )
          border-box;
      border: 6px solid transparent;
      height: 90%;
      width: 80%;
    }
  }
}
