@import "./variables";
.wholeForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  &.playAnimation {
    opacity: 0;
  }
  &.formSubmitted {
    justify-content: center;
    & > h3 {
      font-weight: 300;
      margin: 0 20px;
    }
    & > svg {
      width: 25%;
      height: 25%;
      margin-bottom: 20px;
      & > path {
        fill: $dark;
      }
    }
    animation: fade-in 0.8s 1 ease-in-out;
  }
  & > h2 {
    font-weight: 700;
    font-size: clamp(1.8rem, 1.5rem + 1.5vw, 3rem);
    padding: 10px;
    padding-top: 50px;
    font-family: $WorkSans;
  }
  & > .submitButton button {
    cursor: pointer;
    margin: 5px;
    padding: 10px 20px;
    font-weight: 600;
    font-family: $Raleway;
    background-color: $light-gray;
    border: none;
    border-radius: 3rem;
    margin-bottom: 50px;
    & > span {
      margin-right: 10px;
      width: 15px;
      height: 15px;
      display: inline-block;
      position: relative;
      & > .loading {
        display: inline-block;
        border-radius: 50%;
        border: 2px solid $dark;
        border-bottom: 2px solid transparent;
        animation: rotate 1s linear infinite;
        width: 15px;
        height: 15px;
        vertical-align: middle;
      }
    }
  }
  & > .formInputWrapper {
    width: calc(90% - 20px);
    margin: 5px;
    &:nth-of-type(1) {
      margin-top: 10px;
    }

    &.textArea {
      flex-grow: 1;
      & > textArea {
        resize: none;
      }
    }
    .formInput {
      &:focus {
        outline: none;
        border: 2px solid change-color($color: $light-gray, $lightness: 65%);
      }
      font-weight: 600;
      font-family: $Raleway;
      color: $dark;
      background-color: $light-gray;
      border-radius: 10px;
      padding: 10px;
      border: 2px solid change-color($color: $light-gray, $lightness: 80%);
      width: 100%;
      height: 100%;
    }
  }
}

@include keyframes-animation("rotate") {
  0% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@include keyframes-animation("fade-in") {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
