@import "./variables";
.contactFullWrapper {
  display: flex;
  flex-direction: column-reverse;
  padding: calc($header-height + 5%) 3% 5% 3%;
  @include respond-to("mobile-large"){
    height: 100vh;
    flex-direction: row;
  }
  & > .contactFormContainer {
    @include respond-to("mobile-large") {
      width: 40vw;
      min-width: 30rem
    }
    & > h1 {
      font-size: clamp(2rem, 3vw, 3.5rem);
      padding: 20px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 30rem;
    & > .contactFormWrapper {
      border-radius: 3rem;
      background: linear-gradient($light, $light) padding-box,
        linear-gradient(
            45deg,
            #9390b7 2.73%,
            rgba(112, 181, 227, 0.7) 70.19%,
            rgba(103, 251, 208, 0.7) 100.91%
          )
          border-box;
      border: 6px solid transparent;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: clamp(10rem, 100vh, 30rem);
      width: calc(100% - 40px);
    }
  }
  & > .infoContactContainer {
    min-height: 30rem;
    display: flex;
    margin: $header-height 0;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .contactInfo{
    list-style: none;
    padding-inline-start: 0;
    font-size: clamp(1rem , 1.5vw ,1.2rem);
    >li{
      padding: 3px 0;
      .meetingLink{
        color: $dark;
        text-decoration: none;
        padding: 10px 0;
        border-top: 3px solid $dark;
        border-bottom: 3px solid $dark;
      }
    }
    > div{
      margin: 10px 0;
    }
  }
}