@import "./variables";
$size: 3em;
$hover-gradient: linear-gradient(
  264.76deg,
  #c4c0f7 43.58%,
  #abd7f4 59.99%,
  #bcfae8 96.82%
);

.hero-container {
  #greeting-container {
    margin: 50px;
    position: relative;
    width: initial;
    @include respond-to("tablet") {
      width: 50vw;
    }
  }
  display: flex;
  height: 100vh;
  flex-direction: column-reverse;
  background-color: $light;
  align-items: center;
  justify-content: center;
  @include respond-to("tablet") {
    justify-content: space-between;
    flex-direction: row;
  }
  .gradient-visualizer {
    overflow: hidden;
    position: absolute;
    background: linear-gradient(
      168.49deg,
      #9390b7 2.73%,
      rgba(112, 181, 227, 0.7) 39.19%,
      rgba(103, 251, 208, 0.1) 85.91%
    );
    width: 100%;
    bottom: 0;
    height: calc(100% - 15px);
    @include respond-to("tablet") {
      bottom: initial;
      width: 100vh;
      height: 50vw;
      transform: rotate(-90deg) translateY(calc(50vh - 50%));
      position: absolute;
      right: 0;
    }
    & > svg {
      animation: move-wave 10s linear infinite;
      width: 200rem;
      height: 20rem;
      fill: $light;
    }
  }
}

.star {
  position: absolute;
  &:nth-of-type(1) {
    @include respond-to("tablet") {
      fill: $purple;
    }
    fill: $light;
    right: -5px;
    width: 45px;
    height: 45px;
    bottom: 0px;
    animation: spin 30s infinite linear;
  }
  &:nth-of-type(2) {
    @include respond-to("tablet") {
      fill: $green;
    }
    fill: $light;
    top: -35px;
    width: 20px;
    height: 20px;
    left: 30%;
    animation: spin 35s infinite reverse linear;
  }
  &:nth-of-type(3) {
    @include respond-to("tablet") {
      fill: $blue;
    }
    fill: $light;
    left: -40px;
    width: 40px;
    height: 40px;
    bottom: -35px;
    animation: spin 33s infinite reverse linear;
  }
}

@include keyframes-animation("spin") {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@include keyframes-animation("move-wave") {
  0% {
    transform: rotate(7deg) translateX(-15%);
  }
  100% {
    transform: rotate(7deg) translateX(-48.333%);
  }
}
